.playlist{
    background-color: #2B211E;
    color: white;
    width: 400px;
    height: 50px;
    text-align: center;
    margin: 20px;
    display: flex;
}



.newPlaylist{
    width: 200px;
    height: 600px;
    margin-left: auto;
}

.userPl{
    max-width: 200px;
    height: 600px;
    margin-right: auto;
}