.playlist{
    background-color: black;
    color: white;
    width: auto;
    height: 50px;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
}



.newPlaylist{
    width: 200px;
    height: 600px;
    margin-left: auto;
}

.userPl{
    min-width: 200px;
    width: auto;
    height: auto;
    padding-bottom: 30px;
    margin-right: auto;
    background-color: grey;
    margin: 20px;
}

.userPl > title{
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
}

.singlePlaylist{
    color: white;
    text-decoration: none;
    text-align: center;
}


.title{
    font-size: 30px;
}

.info{
    margin-left: 20px;
}



